# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# IDE
.idea/
.vscode/

# Logs
*.log

# Local database
*.db

# Environment variables
.env

# Docker
Dockerfile
docker-compose.yml
.dockerignore 